@import "tailwindcss";

:root {
  --hero-darkgray: #353839;
  --blue: #36309d;
  --black: #141718;
  --black-container: #242627;
  --white: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 0.5s ease-in;
}
